
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #ADC6E1;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.bi{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
    overflow-x: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .logo .bi{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 48px;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.sidebar .side-menu li.active{
    background: var(--grey);
    position: relative;
}

.sidebar .side-menu li.active::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li.active::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a{
    color: var(--success);
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bi{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout{
    color: var(--danger);
}

.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}

.content nav{
    height: 56px;
    background: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a{
    color: var(--dark);
}

.content nav .bi.bi-list{
    cursor: pointer;
    color: var(--dark);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

.content nav form .form-input button{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.content nav .notif{
    font-size: 20px;
    position: relative;
}

.content nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.content nav .theme-toggle{
    display: block;
    min-width: 50px;
    height: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav p {
    color: var(--dark);
    min-width: 50px;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.content main{
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56px);
}

.content main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.content main .header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li{
    color: var(--dark);
}

.content main .header .left .breadcrumb li a{
    color: var(--dark-grey);
    cursor: pointer;
}

.content main .header .left .breadcrumb li a.active{
    color: var(--primary);
    pointer-events: none;
}

.breadcrumb li:nth-child(1):hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--primary)!important;
}

.breadcrumb li:nth-child(2):hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--primary)!important;
}

/* 다이어리 인사이트 */

.content main .insights-diary{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights-diary li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights-diary li .info h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights-diary li .info p {
    color: var(--dark);
}


/* 상점 인사이트 */

.content main .insights-product{
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights-product li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights-product li .info h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.content main .insights-product li .info p {
    color: var(--dark);
}


/* 하단 게시판 영역 */

.content main .bottom-data {
    display: flex;
    justify-content: center;
    grid-gap: 24px;
    margin-top: 24px;
    color: var(--dark);
}

.content main .bottom-data>div {
    width: 70vw;
    text-align: center;
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}


/*
============================== 테이블 ==============================
*/

/* 공지 목록 */

.notice-list {
    display: none;
    width: 50vw;
    min-height: auto;
}

.notice-list h2 {
    margin-bottom: 1rem;
}

.notice-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.notice-list li:hover {
    border-radius: 10px;
    background-color: var(--grey);
}

.notice-list li p {
    flex-basis: 20%;
}

.notice-list li .noticeNo {
    max-width: 30px;
}

.notice-list li .noticeTitle {
    text-align: center;
    min-width: 150px;
}

.notice-list li .noticeWriter,
.notice-list li .noticeCont,
.notice-list li .noticeDate {
    min-width: 50px;
}

.notice-list li .noticeCont {
    min-width: 300px;
}

.notice-list li .noticeDate {
    min-width: fit-content;
}

.notice-list li div {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    min-width: 100px;
}

.notice-list li div button.noticeUpdate {
    color: var(--primary);
    margin-right: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--clr-white);
}
.notice-list li div button.noticeDelete {
    color: var(--danger);
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--clr-white);
}

.notice-list li div button.noticeUpdate:hover,
.notice-list li div button.noticeDelete:hover {
    text-decoration: underline;
}

.create-btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.createNotice {
    display: flex;
    text-align: right;
    margin-top: -2.5rem;
    min-width: fit-content;
    justify-content: flex-end;
}

.page-btn {
    text-align: center;
    margin-top: 2rem;
    min-width: fit-content;
}

.page-btn #pageNumbers button {
    font-size: 1rem;
    background: none;
    border: none;
    color: var(--primary);
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

.page-btn #pageNumbers button.first{
    margin-right: 20px;
}

.page-btn #pageNumbers button.last {
    margin-left: 20px;
}

.page-btn #pageNumbers button.pageNumber.current {
    font-weight: bold;
    text-decoration: underline;
    color: var(--success);
}


/* 등록 폼 페이지 */

.notice-sub-list {
    display: none;
    height: auto;
}

.notice-sub-list h2 {
    margin-bottom: 1rem;
}

.notice-sub-list ul.notice-sub {
    display: inline-block;
    width: 60%;
    min-width: fit-content;
    list-style-type: none;
}

.notice-sub-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notice-sub-list li:last-child {
    border-bottom: none;
}

.notice-sub-list li div {
    flex: 1;
}

.notice-sub-list li p {
    text-align: center;
    min-width: 50px;
    max-width: 55px;
}

.notice-sub-list li input[type="text"]{
    flex: 2;
    height: 2rem;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--grey);

}
.notice-sub-list li textarea {
    flex: 2;
    min-height: 200px;
    margin-left: 10px;
    border: none;
    resize: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--grey);
}

.sub-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

.sub-btn .submit-btn {
    margin-right: 1rem;
}

.sub-btn input[type="submit"],
.sub-btn input[type="reset"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
}

.sub-btn input:hover {
    transition: 0.3s;
    background-color: var(--danger);
}


/* 관리자 리스트 */


.admin-list {
    display: none;
    width: 50vw;
    min-height: auto;
}

.admin-list h2 {
    margin-bottom: 1rem;
}

.admin-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.admin-list li:hover {
    border-radius: 10px;
    background-color: var(--grey);
}


.admin-list li p {
    flex-basis: 20%;
    margin-right: auto;
}

.admin-list li .adminNo {
    min-width: fit-content;
}

.admin-list li .adminId {
    text-align: center;
    min-width: fit-content;
}

.admin-list li .adminName,
.admin-list li .adminGrade,
.admin-list li .adminTeam {
    min-width: fit-content;
}


/* 관리자 상세정보 리스트 */


.admin-cont-list {
    display: none;
    width: 50vw;
    min-height: auto;
}

.admin-cont-list h2 {
    margin-bottom: 1rem;
}

.admin-cont-list ul {
    display: inline-block;
    width: 60%;
    min-width: fit-content;
    list-style-type: none;

}

.admin-cont-list li {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

.admin-cont-list li p {
    font-size: 1rem;
    font-weight: bold;
    flex-basis: 10%;
    text-align: center;
}


/* 공유 게시판 목록 */


.share-list {
    display: none;
    width: 50vw;
    min-height: auto;
}

.share-list h2 {
    margin-bottom: 1rem;
}

.share-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.share-list li:hover {
    border-radius: 10px;
    background-color: var(--grey);
}

.share-list li p {
    flex-basis: 20%;
}

.share-list li .boardNo {
    max-width: 30px;
}

.share-list li .boardTitle {
    text-align: center;
    min-width: 150px;
}

.share-list li .boardWriter,
.share-list li .boardDate {
    min-width: 100px;
}


/* 공유 게시판 상세정보 리스트 */


.share-cont-list {
    display: none;
    width: 50vw;
    min-height: auto;
}

.share-cont-list h2 {
    margin-bottom: 1rem;
}

.share-cont-list ul {
    display: inline-block;
    width: 60%;
    min-width: fit-content;
    list-style-type: none;

.share-cont-list li {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.share-cont-list li p {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
    flex-basis: 10%;
    text-align: center;
}

.share-cont-list li p.boardTitle,
.share-cont-list li p.boardWriter,
.share-cont-list li p.boardDate {
    order: 1;
    min-width: 100px;

}

.share-cont-list li p.boardCont {
    order: 2;
    margin: auto;
    flex-basis: 50%;
}


    /*
    ============================== 반응형 ==============================
    */

    @media screen and (max-width: 768px) {
        .sidebar {
            width: 200px;
        }

        .content {
            width: calc(100% - 60px);
            left: 200px;
        }

    }

    @media screen and (max-width: 576px) {

        .content nav form .form-input input {
            display: none;
        }

        .content nav form .form-input button {
            width: auto;
            height: auto;
            background: transparent;
            color: var(--dark);
            border-radius: 0;
        }

        .content nav form.show .form-input input {
            display: block;
            width: 100%;
        }

        .content nav form.show .form-input button {
            width: 36px;
            height: 100%;
            color: var(--light);
            background: var(--danger);
            border-radius: 0 36px 36px 0;
        }

        .content nav form.show ~ .notif, .content nav form.show ~ .profile {
            display: none;
        }

        .content main .insights-product {
            grid-template-columns: 1fr;
        }

        .content main .bottom-data .header {
            min-width: 340px;
        }

        .content main .bottom-data .orders table {
            min-width: 340px;
        }

        .content main .bottom-data .reminders .task-list {
            min-width: 340px;
        }

    }
}
